/* Estilos generales */

body {
    background-color: #000000;  /* Fondo negro */
    font-family: 'Arial', sans-serif;
    color: #ffffff;  /* Texto blanco por defecto */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #1a1a1a;  /* Fondo ligeramente más claro para el contenedor */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);  /* Sombra blanca suave */
    text-align: center;
    border-radius: 10px;
}

h1, h2, h3 {
    margin: 5px 0;
    color: #ffffff;  /* Texto blanco */
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: 8px solid #ffffff;  /* Borde blanco grueso */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);  /* Sombra blanca suave para el cuadro */
    padding: 10px;
    background-color: #1a1a1a;  /* Fondo igual que el contenedor para dar efecto de cuadro */
}

h1 {
    color: #ffcc00;  /* Amarillo claro para destacar */
    font-size: 2.5em;
}

h3 {
    color: #b3b3b3;  /* Gris claro para subtítulos */
    font-size: 1.2em;
}

h2 {
    color: #e6e6e6;  /* Gris muy claro */
    font-size: 1.5em;
}

.container h2:last-of-type {
    margin-bottom: 40px;
}

.container h1:last-of-type {
    font-size: 2em;
    color: #ffcc00;  /* Amarillo claro para destacar */
}

/* Media queries para pantallas más pequeñas */

@media only screen and (min-width: 551px) and (max-width: 680px) {
    .container {
        padding: 10px;
    }

    img {
        margin: 10px 0;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 550px) {
    .container {
        padding: 30px;
    }

    img {
        margin: 8px 0;
        border-width: 6px;  /* Reducir el grosor del borde en pantallas más pequeñas */
    }

    h1 {
        font-size: 1.8em;  /* Reducir el tamaño del título principal */
    }

    h2 {
        font-size: 1.0em;  /* Ajustar el tamaño del texto principal */
    }

    h3 {
        font-size: 0.9em;  /* Ajustar el tamaño del texto de subtítulo */
    }
}
